/* regole generali */
body{
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

.box{
    /* debug */
    background-color: bisque;
    min-height: 30px;
    margin: 10px 0;
}

.background_green{
    background-color: #1abc9c;
}


/* regole header */
header{
    background-color: #2c3e50;
}

#header_container{
    height: 70px;
}

#desktop-nav{
    display: none;
}

#desktop-nav li{
    /* debug */
    background-color: aqua;
    width: 5px;
    height: 5px;
    display: inline-block;
}

/* regole jumbotron */
#jumbotron{
    min-height: 300px;
}

#jumbotron img{
    width: 200px;
}

/* regole portfolio */


/* regole visualizzazione desktop */
@media screen and (min-width:992px) {

    #desktop-nav{
        display: block;
    }
        
}