/* regole generali */
body{
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color: white;
}

section{
    margin: 20px 0;
}

.box{
    margin: 15px 0;
}

.background_green{
    background-color: #1abc9c;
}

h1{
    margin: 20px 0;
}

h2{
    margin: 20px 0;
}

    /* regole stelline */
.fake-border_container{
    margin: 15px 0;
}

.fake-border{
    display: inline-block;
    height: 5px;
    width: 10%;
    background-color: white;
    margin-bottom: 8px;
}

.fake-border_container i{
    font-size: 30px;
    margin: 0 10px;
}

.fake-border.dark-blue{
    background-color: #2c3e50;
}

    /* regole bottoni */
button{
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin: 20px 0;
    background-color: #1abc9c;
}


/* regole header */
header{
    background-color: #2c3e50;
}

.navbar{
    --bs-navbar-padding-y: 1rem;
}

.navbar-toggler-icon{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");}

.navbar-brand, .nav-link{
    color: white;
    text-transform: uppercase;
}

.navbar-brand:hover, .nav-link:hover{
    color: #1abc9c;
}

.navbar-toggler{
    border: var(--bs-border-width) solid white;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* regole jumbotron */
#jumbotron{
    padding-top: 105px;
    padding-bottom: 30px;
}

#jumbotron span{
    text-transform: uppercase;
}

#jumbotron img{
    width: 200px;
}


/* regole portfolio */
#portfolio{
    color: #2c3e50;
}

#portfolio img{
    width: 100%;
    border-radius: 15px;
}

.box-hover{
    margin: 15px 0;
}


#portfolio .box-hover{
    position: relative;
    background-color: #1abc9c;
    border-radius: 15px;
}

.box-hover i{
    display: none;
    font-size: 60px;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    color: white;
}

#portfolio .box-hover:hover i{
    display: block;
    cursor: pointer;
}

#portfolio .box-hover:hover img{
    filter: opacity(0.5);
    cursor: pointer;
}

/* regole contact me */
#contact-me_container{
    color: #2c3e50;
}

.form-control{
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ced4da;
    margin: 10px 0;
}

.form-control:focus{
    border-color: #1abc9c;
}

.form-control:focus{
    box-shadow: none;
}


/* regole footer */
footer{
    background-color: #3a546d;
}

footer .box{
    margin: 20px 0;
}

.social-container{
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    padding: 22px;
    margin: 2.5px;
    position: relative;
}

.social-container i{
    position: absolute;
    translate: -50% -50%;
}

.social-container:hover{
    cursor: pointer;
}

#copyright{
    background-color: #2c3e50;
}

a{
    color: #1abc9c;
    text-decoration: none;
}

#copyright span{
    font-size: 12px;
}
